header {
   /* font-size: 100px; Comando que aumenta o texto*/

    border: 1px solid black;
    background-color: red;
    
    /* background-color: black; Comando para alterar cor de fundo */
}

nav, section, article, aside, main, footer{
    border: 1px solid black;

}

article{
    display:inline;
}